.eleccion {
    display: flex;
  }
  
  .eleccion > div {
    flex: 1; /* Divide el espacio disponible entre los elementos */
    margin-right: 10px; /* Agrega un poco de espacio entre los elementos */
  }
  
  .eleccion label {
    margin-bottom: 5px;
  }
  